#CONSTRUCCIÓN DE CARTERA FINANCIERA

###Librerias

In [51]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

###Lectura de base de datos

In [52]:
data_route = '../data/'

In [53]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [54]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [55]:
incomes

         DATE  AMOUNT CATEGORY THIRD-PARTY            DESCRIPTION
0  08/04/2024   19000     FIJO       LEVAL   COBRO LEVAL VIATICOS

In [56]:
incomes['AMOUNT']

0    19000
Name: AMOUNT, dtype: int64

In [57]:
        incomes['AMOUNT'].sum()

19000

In [58]:
incomes.loc[0]

DATE                      08/04/2024
AMOUNT                         19000
CATEGORY                        FIJO
THIRD-PARTY                    LEVAL
DESCRIPTION     COBRO LEVAL VIATICOS
Name: 0, dtype: object

In [59]:
incomes.loc[0]['DESCRIPTION']

' COBRO LEVAL VIATICOS'

In [60]:
n = len(incomes)
print(n)

1

In [61]:
incomes.loc[n] = ['12/04/2024',20000,'FIJO','PAPA','COBRO SEMANA']

In [62]:
incomes

         DATE  AMOUNT CATEGORY THIRD-PARTY            DESCRIPTION
0  08/04/2024   19000     FIJO       LEVAL   COBRO LEVAL VIATICOS
1  12/04/2024   20000     FIJO        PAPA           COBRO SEMANA

#Construcción de la Clase

In [74]:
class FWallet:

    def __init__(self):
        self.inputs = inputs
    
    ### ACTIONS TO PERFORM ###
    
    #Calculate the total income
    def total_income(self):
        pass

    #Calculate total expense
    def total_expense(selt):
        pass
    
    #Calculate balance
    def balance(self):
        pass
    
    #Create financial report using the functions abose
    def financial_report(self):
        pass

In [75]:
inputs = {
}

In [76]:
cartera = FWallet()