#CONSTRUCCIÓN DE CARTERA FINANCIERA

###Librerias

In [143]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

###Lectura de base de datos

In [144]:
data_route = '../data/'

In [145]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [146]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [147]:
incomes

         DATE  AMOUNT CATEGORY THIRD-PARTY            DESCRIPTION
0  08/04/2024   19000     FIJO       LEVAL   COBRO LEVAL VIATICOS
1  12/04/2024   20000     FIJO        PAPA           COBRO SEMANA

In [148]:
incomes['AMOUNT']

0    19000
1    20000
Name: AMOUNT, dtype: int64

In [149]:
        incomes['AMOUNT'].sum()

39000

In [150]:
incomes.loc[0]

DATE                      08/04/2024
AMOUNT                         19000
CATEGORY                        FIJO
THIRD-PARTY                    LEVAL
DESCRIPTION     COBRO LEVAL VIATICOS
Name: 0, dtype: object

In [151]:
incomes.loc[0]['DESCRIPTION']

' COBRO LEVAL VIATICOS'

In [152]:
n = len(incomes)
print(n)

2

In [153]:
incomes.loc[n] = ['12/04/2024',20000,'FIJO','PAPA','COBRO SEMANA']

In [154]:
incomes

         DATE  AMOUNT CATEGORY THIRD-PARTY            DESCRIPTION
0  08/04/2024   19000     FIJO       LEVAL   COBRO LEVAL VIATICOS
1  12/04/2024   20000     FIJO        PAPA           COBRO SEMANA
2  12/04/2024   20000     FIJO        PAPA           COBRO SEMANA

#Construcción de la Clase

In [175]:
class FWallet:

    def __init__(self,inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])
        
    ### ACTIONS TO PERFORM ###

    #Add income to database
    def add_income(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third party: ')
        description = input('description: ')

        new_income = [date,amount,category,third_party,description]

        n = len(self.incomes)
        self.incomes.loc[n] = new_income

        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'],index=False)

    #Add expense to database
    def add_expense(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third party: ')
        description = input('description: ')

        new_expense = [date,amount,category,third_party,description]

        n = len(self.expenses)
        self.expenses.loc[n] = new_expense

        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'],index=False)

    #Calculate the total income
    def total_income(self):
        total = self.incomes['AMOUNT'].sum()
        return total

    #Calculate total expense
    def total_expense(self):
        total = self.expenses['AMOUNT'].sum()
        return total
    
    #Calculate balance
    def balance(self):
        balance = self.total_income() - self.total_expense()
        return balance
    
    #Create financial report using the functions above
    def financial_report(self):
        print('\n'+'Financial Report'+'\n')
        print(f'Total Income: ${self.total_income()}')
        print(f'Total Expense: ${self.total_expense()}')
        print(f'Balance: ${self.balance()}')
        if self.balance() > 0:
            print ('Dont forget to save some of your left-off money! great job!')
        else:
            pring('Be responsible with your finance, and find a low rate loan!')

In [176]:
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [177]:
cartera = FWallet(inputs)

In [178]:
cartera.financial_report()

Financial Report

Total Income: $39000
Total Expense: $2000
Balance: $37000
Dont forget to save some of your left-off money! great job!

In [ ]:
cartera.expenses